/*
 * Woojuu v0.1
 *
 * woojuu.less
 *
 * 
 */

/* ---------------------------------- */

/*
 *  TABLE OF CONTENTS
 *  
 *  @Grid
 *  @FontFace
 *  @Global
 *  @Wrapper
 *  @Sidebar
 *  @Masthead
 *  @Nav
 *  @Lines
 *  @GlobalExperience
 *  @Proof-Points
 *  @Footer
 *  @Icons
 *  @Clear
 *
 */
 
/* ---------------------------------- */

/* @Grid */

@import 'grid.less';

@columns:           3;
@column-width:      240;
@gutter-width:      60;

// Uncomment the definition below for a percentage-based layout
// @total-width:    100%;

/* ---------------------------------- */

/* @FontFace)*/

/* ---------------------------------- */

/* @Global */
body {
    background: url('../image/woojuu-bg-loop.jpg');
}

/* ---------------------------------- */

/* @Wrapper */

div#wrapper {
    width: 900px;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
}

/* ---------------------------------- */

/* @Sidebar */

aside {
    .column(1);
}

/* ---------------------------------- */

/* @Header */

div#main {
    .column(2);
}
