/*
 * Woojuu v0.4
 *
 * woojuu.less
 *
 * 
 */

/* ---------------------------------- */

/*
 *  TABLE OF CONTENTS
 *  
 *  @Grid
 *  @FontFace
 *  @Global
 *  @Wrapper
 *  @Sidebar
 *  @Masthead
 *  @Nav
 *  @Lines
 *  @GlobalExperience
 *  @Proof-Points
 *  @Footer
 *  @Icons
 *  @Clear
 *
 */
 
/* ---------------------------------- */

/* @Grid */

@import 'grid.less';

@columns:           5;
@column-width:      100;
@gutter-width:      40;

// Uncomment the definition below for a percentage-based layout
// @total-width:    100%;

/* ---------------------------------- */

/* @Variables */
@link-color:            #303030;
@link-green-color:      #3b7d00;
@selection-color:       #aeda50;
@date-color:            #949494;

@nav-height:            33px;
@nav-margin:            25px;

@name-logo-gap:         34px;
@name-width:            187px;
@name-height:           48px;

@appstore-width:        160px;
@appstore-height:       54px;

@introduction-height:   488px;

@column-width:          255px;
@column-height:          90px;

/* ---------------------------------- */
/* @Mixins */
.center-block (@margin: auto) {
	display: block;
    margin: 0 @margin;
    padding: 0;
}
.sprite (@left: 0, @top: 0) {
    background-image: url('../img/css-sprite.png');
    background-position: @left @top;
    background-repeat: no-repeat;
}
.sprite-wechat (@left: 0, @top: 0) {
    background-image: url('../img/css-sprite-wechat.png');
    background-position: @left @top;
    background-repeat: no-repeat;
}
.is-graphic-text {
    text-indent: -9999px;
}
.text-shadow {
    text-shadow: 0 1px 0 #fff;
}
.bigger-text {
    font-size: 1.4em;
    line-height: 1.8em;
}
.content-list {
    padding: 35px 88px 0 88px;
}
.absolute {
    position: absolute;
}
.relative {
    position: relative;
}
.block {
    display: block;
}
.column {
    float: left;
}
// User select
// For selecting text on the page
.user-select (@select) {
	-webkit-user-select: @select;
	-moz-user-select: @select;
	-ms-user-select: @select;
	-o-user-select: @select;
	user-select: @select;
}
// CSS image replacement
// -------------------------
// Source: https://github.com/h5bp/html5-boilerplate/commit/aa0396eae757
// Source: https://github.com/twitter/bootstrap/blob/master/less/mixins.less
.hide-text () {
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
}

/* @Mixins for Sprites */
.sprite-app-store-hover { .sprite(0px, 0px); .is-graphic-text; width: 160px; height: 54px; } 
.sprite-app-store-normal { .sprite(0px, -104px); .is-graphic-text; width: 160px; height: 54px; } 
.sprite-bg-paper-footer { .sprite(0px, -208px); width:774px; height: 285px;} 
.sprite-dashed-line { .sprite(-824px, -1490px); } 
.sprite-highlight-3-seconds { .sprite(0px, -543px); .is-graphic-text; } 
.sprite-highlight-budget-mode{ .sprite(0px, -618px); .is-graphic-text; } 
.sprite-highlight-sleek-ui { .sprite(0px, -693px); .is-graphic-text; } 
.sprite-highlight-whats-more { .sprite(0px, -768px); .is-graphic-text; } 
.sprite-iphone5-base { .sprite(0px, -843px); .is-graphic-text; width: 275px; height: 570px; } 
.sprite-iphone5-glare-overlay { .sprite(0px, -1463px); .is-graphic-text; width: 153px; height: 423px; } 
.sprite-name-art { .sprite(0px, -1936px); .is-graphic-text; width: 187px; height: 48px; }
.sprite-portrait-ada { .sprite(-824px, 0px); .is-graphic-text; width: 48px; height: 48px; }
.sprite-portrait-daisy { .sprite(-824px, -98px); .is-graphic-text; width: 48px; height: 48px; }
.sprite-portrait-grace { .sprite(-824px, -196px); .is-graphic-text; width: 48px; height: 48px; }
.sprite-portrait-liangying { .sprite(-824px, -294px); .is-graphic-text; width: 48px; height: 48px; }
.sprite-portrait-liki { .sprite(-824px, -392px); .is-graphic-text; width: 48px; height: 48px; }
.sprite-portrait-majun { .sprite(-824px, -490px); .is-graphic-text; width: 48px; height: 48px; }
.sprite-portrait-ning { .sprite(-824px, -588px); .is-graphic-text; width: 48px; height: 48px; }
.sprite-portrait-rome { .sprite(-824px, -686px); .is-graphic-text; width: 48px; height: 48px; }
.sprite-portrait-yingbin { .sprite(-824px, -784px); .is-graphic-text; width: 48px; height: 48px; }
.sprite-slogan { .sprite(-824px, -882px); .is-graphic-text;  width: 270px; height: 52px; } 
.sprite-stamp { .sprite(-824px, -984px); .is-graphic-text; width: 203px; height: 97px; } 
.sprite-txt-about-us { .sprite(-824px, -1131px); .is-graphic-text; width: 96px; height: 25px; } 
.sprite-txt-faq { .sprite(-824px, -1206px); .is-graphic-text; width: 152px; height: 25px; } 
.sprite-txt-team { .sprite(-824px, -1281px); .is-graphic-text; width: 94px; height: 25px; } 
.sprite-weibo-hover { .sprite(-824px, -1356px); .is-graphic-text; width: 20px; height: 17px; } 
.sprite-weibo-normal { .sprite(-824px, -1423px); .is-graphic-text; width: 20px; height: 17px; }

.sprite-wechat-clip{ .sprite-wechat(0, 0); width: 55px; height: 62px; }
.sprite-wechat-complain{ .sprite-wechat(0, -112px); width: 302px; height: 226px; }
.sprite-wechat-receipts{ .sprite-wechat(0, -388px); width: 124px; height: 163px; }
.sprite-wechat-slogan{ .sprite-wechat(0, -601px); width: 297px; height: 25px; }
.sprite-wechat-ww{ .sprite-wechat(0, -676px); width: 579px; height: 234px; }

/* ---------------------------------- */

/* @FontFace*/

/* ---------------------------------- */

/* @Global */
html {
	 background: url('../img/bg-woojuu-loop.jpg') left top repeat;
}
body {
	font-family: 'Helvetica Neue', 'Hiragino Sans GB', Helvetica, STHeiti, Microsoft YaHei, SimHei, Arial, sans-serif;
	font-size: 62.5%;
}
h1, h2, h3 { margin: 0; }
ul, ol { margin: 0; padding: 0; }
ul, li {
	list-style: none;
}
a {
    color: @link-color;
    text-decoration: none;

    &:visited { color: @link-color; }
    &:active { color: @link-green-color; }
    &:hover {
        color: @link-green-color;
        border-bottom: solid 1px @link-green-color;
    }
}
i {
	display: block;
	margin: 0;
	padding: 0;
	.hide-text();
}
hr {
	clear: both;
	border: none;
	float: none;
	overflow: hidden;
}


::-moz-selection { background: @selection-color; }
::selection { background: @selection-color; }

/* ---------------------------------- */

/* @Wrapper */
.wrapper {
    width: 774px;
	.center-block;
}

/* ---------------------------------- */

/* ---------------------------------- */

/* @Wrapper > @Shadow */
.shadow {
    background: url('../img/bg-paper-shadow.png') 0 50% no-repeat;
}

/* ---------------------------------- */

/* @Wrapper > @Shadow > @Main */
.main {
    width: 700px;
	.center-block;
    background: url('../img/bg-paper-loop.jpg') 0 50% repeat-y;
}

/* ---------------------------------- */

/* @Header */
header {
	font-size: 1.4em;
	nav {
        line-height: @nav-height;
        margin: 0 @nav-margin;

        li.date {
            color: @date-color;
            .text-shadow;
        }
    }
	hr {
		margin: 0;
		height: 2px;
		.sprite-dashed-line;
	}
}
/* ---------------------------------- */

/* @Content */
#content {
    background: url('../img/bg-paper-header.jpg') 0 0 no-repeat;

	header {
		ul {
			overflow: hidden;
		}
		li {
			float: left;
			margin-right: 30px;
		}
	}

    /* @Introduction */
    #introduction {
        .relative;
       	.user-select(none);
        height: @introduction-height;
        overflow: hidden;

        #title {
            .absolute;
            top: 50%;
            right: 42px;
            margin-top: -110px;

            .name {
                .relative;
                margin-bottom: 16px;

                a { .block; color: @link-green-color ;}
                h1 { .sprite-name-art; }
                .version {
                    .absolute;
                    top: (@name-height - 15px);
                    left: (@name-width + 15px);
                }               
            }

            h2 {
                margin-bottom: 36px;
                .sprite-slogan;
            }

            .download {

                a {
                    .block;
                    .sprite-app-store-normal;
                    text-decoration: none;

                    &:visited {}
                    &:hover, &:active { text-decoration: none; border: none; .sprite-app-store-hover; }
                }
            }
        } // end of #title

        #gallery {
            .relative;
            top: 35px;
            left: 50px;
            .sprite-iphone5-base;

            .glare{
                .absolute;
                top: 8px;
                right: 10px;
                .sprite-iphone5-glare-overlay;
                z-index: 1001;
            }
            .slideshow {
                .absolute;
                top: 80px;
                left: 23px;
                z-index: 1000;
            }
        } // end of #gallery

    }
    
    /* @Hightlights */
    #highlights {
        .sprite-dashed-line;
        .user-select(none);
        padding: 12px 50px 0;
        overflow: hidden;

        .grid2col {
            list-style: none outside;
            margin-top: 50px;
            zoom: 1;
        }
        .grid2col::after {
            .block;
            content: ".";
            height: 0;
            clear: both;
            visibility: hidden;
        }
            .column {
                padding-left: 10px;
                width: @column-width;
                height: @column-height;
                overflow: hidden;
            }
            .second {
                float: right;
            }
            p {
				font-size: 1.4em;
                .text-shadow; 
            }
			h2 {
				font-size: 1.8em;
			}
            #highlight-sleek-ui {
                h2 { .sprite-highlight-sleek-ui; }
            }
            #highlight-budget-mode {
                h2 { .sprite-highlight-budget-mode; }
            }
            #highlight-3-seconds {
                h2 { .sprite-highlight-3-seconds; }
            }
            #highlight-whats-more {
                h2 { .sprite-highlight-whats-more; }
            }
    }
    
    /* ---------------------------------- */
    
    /* @FAQ */
    #faq {
		.bigger-text;
        .content-list;

        a { color: @link-green-color; }

        h2 {
            .sprite-txt-faq;
            margin-bottom: 30px;
        }
        ul {
            list-style: none;
            
            li { 
                margin-top: 30px;

                h2 { .text-shadow; }
            }
        }
        p { line-height: 1.8em; }
		p.last { margin-bottom: 0; }
    }

    /* ---------------------------------- */

    /* @WeChat */
	#wechat {
		position: relative;
		width: 600px;
		.center-block();

		.receipts {
			position: absolute;
			right: -76px;
			top: -10px;
			.sprite-wechat-receipts;
			z-index: 1000;
		}
		.clip {
			position: absolute;
			right: -70px;
			top: 0;
			.sprite-wechat-clip;
			z-index: 1001;
		}
		aside, p {
			font-size: 1.4em;
		}
		aside {
			text-align: center;
			margin-top: 15px;
		}
		p#complain {
			.sprite-wechat-complain;
			.hide-text();
			margin-top: 40px;
		}
		figure#ww {
			.sprite-wechat-ww;
			.hide-text();
			margin-top: -40px;
		}
		p#slogan-wechat {
			.sprite-wechat-slogan;
			.hide-text();
			.center-block();
			margin-top: 60px;
		}
	}

    /* ---------------------------------- */
    
    /* @About Us */
	/*
    #about-us {
        .content-list;
        .sprite-dashed-line;

        a { color: @link-green-color; }

        h2 {
            .is-graphic-text;
            margin-bottom: 30px;
        }
        h2.us { .sprite-txt-about-us; }
        p.lean {
            .bigger-text;
        }
        h2.team { .sprite-txt-team; margin-top: 30px; }
        ul {
            list-style: none;
            margin-left: 60px;
            
            li {
                position: relative;
                figure { position: absolute; top: 0; left: -60px; }
            }
            li#about-liki {
                figure { .sprite-portrait-liki; }
            }
            li#about-rome {
                figure { .sprite-portrait-rome; }
            }
            li#about-daisy {
                figure{ .sprite-portrait-daisy; }
            }
            li#about-liangying {
                figure { .sprite-portrait-liangying; }
            }
            li#about-yingbin {
                figure { .sprite-portrait-yingbin; }
            }
        }
        p { line-height: 20px; }
    }*/
}

/* ---------------------------------- */

/* @Footer */
.ft { .sprite-bg-paper-footer; }

footer {
    width: 700px;
	font-size: 1.4em;
	.center-block;
    
    .end {
        .relative;
        height: 200px;
        text-align: center;

        .stamp {
            .absolute;
            .sprite-stamp;
            top: 50%;
            left: 50%;
            margin-left: -101px;
            margin-top: -50px;
        }
    }
    nav {
        height: @nav-height;
        padding-top: 20px;
        .sprite-dashed-line;
        
        ul {
            margin: 0 @nav-margin;
        }
        ul#jingxifang {
            li {
                float: left;
                margin-right: 10px;
            }
        }
        ul#about {
            li {
                float: right;
                margin-left: 24px;
            }
        }
        a#weibo {
            .block;
            .sprite-weibo-normal;
            margin: -2px;
            
            &:hover {
                border: none;
                .sprite-weibo-hover;
            }
        }
    }
}
