{% extends "base.html" %}

{% block content %}
<section id="about-us">
	<h2 class="us">关于我们</h2>
    <p class="lean">我们相信<a href="http://en.wikipedia.org/wiki/Lean_Startup" target="_blank">Lean Startup</a>的理念，相信小团队能更专注把事情做好。莴苣账本就是这个理念的产物。我们虽年轻但不幼稚，多年的行业经验让我们能以做大产品的态度去打磨任何一个小产品。另外，男女比例平衡保证了我们工作时有足够的持续动力。</p>
	<h2 class="team">团队介绍</h2>
    <ul>
        <li id="about-liki">
            <figure>Avatar Liki</figure>
            <h3>Liki</h3>
            <p>Liki杜，UX/PM/Dev混合体。五年级时翘过整个学期的电脑课因为嫌弃Apple II太丑。随后偶然接触既被毒害，从此上了贼船。内心为多层结构，外壳冷漠、内层纠结、核心狂野。总想改变世界，却发现第一需要改变的是自己。</p>
        </li>
        <li id="about-rome">
            <figure>Avatar Rome</figure>
            <h3>Rome</h3>
            <p>李少侠，负责研发。最不像IT人的IT人，拥有自己的乐队，爱好各种运动，各类视频唱上网，长相平凡，灵魂不甘。拥有一颗想红的心，却是一条不红的命。毕业就高薪，现在还负债。用专业拯救自己。</p>
        </li>
        <li id="about-daisy">
            <figure>Avatar Daisy</figure>
            <h3>Daisy</h3>
            <p>刘绘绘，负责视觉设计。喜欢画画手工和拍照。就读上海西南某高校。偶尔哭来总是哈哈笑。常常纠结容易生烦恼。寻觅身边不同大皮高。记录生活各种美与好。</p>
        </li>
        <li id="about-liangying">
            <figure>Avatar Liangying</figure>
            <h3>Liangying</h3>
            <p>良莹，江湖人称人来疯。三百六十五行，行行都感兴趣，行行都浅尝辄止，比如下厨，比如裁缝，比如木工。武术算是孜孜不倦的追求，可惜根骨差悟性低，太极一百零八式总是忘。终极梦想职业为家庭主妇，打打酱油晒晒太阳读读书写写代码。</p>
        </li>
        <li id="about-yingbin">
            <figure>Avatar Yingbin</figure>
            <h3>Yingbin</h3>
            <p>Yingbin，负责研发。热爱旅行，阅读。大学在实验室写小说投稿萌芽，也曾经立志用新闻影响今天。如今毕业二三年，两点一线，折腾不断，却不知梦想还有多远。心中尚有未崩坏的异想天开，身体力行还需更加脚踏实地。</p>
        </li>
    </ul>
</section>
{% endblock %}