<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="">
	<link rel="shortcut icon" href="{{ static('img/favicon.ico') }}" />

	<title>莴苣账本 — 记账，一个就够了</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<meta name="viewport" content="width=device-width,initial-scale=1">

	<link rel="stylesheet" href="{{ static('css/normalize.min.css') }}">
	<link rel="stylesheet" href="{{ static('css/woojuu.min.css') }}">
</head>
<body>
	<div class="wrapper">
		<div class="shadow">
			<div class="main">
				<div id="content">
					<header>
						<nav>
							<ul>
								<li><a href="/">莴苣账本</a></li>
								<li><a href="/wechat">莴苣账本微信助手</a></li>
							</ul>
						</nav>
						<hr />
					</header>
					{% block content %}{% endblock %}
				</div>				
			</div>
		</div>
		<div class="ft">
			<footer>
				<section class="end">
					<div class="stamp">End symbol</div>
				</section>
				<nav>
					<ul id="jingxifang">
						<li>&copy; 2011-2012</li>
						<li><strong>精细坊</strong></li>
					</ul>
					<ul id="about">
						<li>
							<a id="weibo" href="http://weibo.com/woojuu" alt="访问莴苣账本微博" target="_blank">Weibo</a>
						</li>
						<li>
							<a href="mailto:hello@woojuu.cc">联系我们</a>
						</li>
						<li>
							<a href="/faq">常见问题</a>
						</li>
						<li>
							<a href="/">首页</a>
						</li>
					</ul>
				</nav>
			</footer>
		</div>
	</div>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="{{ static('js/lib/jquery-1.8.3.min.js') }}"><\/script>')</script>
	<script src="{{ static('js/lib/jquery.cycle.lite.js') }}"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			// Image cycling
			$('.slideshow').cycle({
				fx: 'fade',
				speed: 1000
			});
		});
	</script>
	<!-- Google Analytics -->
	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-25654052-1']);
		_gaq.push(['_trackPageview']);

		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>
</body>
</html>