{% extends "base.html" %}

{% block content %}
<section id="faq">
    <h2>常见问题FAQ</h2>
    <ul>
        <li>
            <h3>莴苣账本是干什么的？</h3>
            <p>莴苣账本是一款记账理财软件。</p>
        </li>
        <li>
            <h3>为什么叫莴苣账本？</h3>
            <p>0. 想起个好玩的名字。1. 莴苣的英文是lettuce，有“纸币”的意思。2.  莴苣=我记，取其谐音。</p>
        </li>
        <li>
            <h3>你们的App多少钱？</h3>
            <p>目前是¥0.00，我们最需要的是你的喜爱。</p>
        </li>
        <li>
            <h3>你们怎么赚钱？</h3>
            <p>先把产品做好是我们的首要目标。在为用户提供一个可靠、好用的产品的基础上，我们会逐步探索一些可行的盈利模式。</p>
        </li>
        <li>
            <h3>已经有那么多的记账软件，为什么你们还要做莴苣账本？</h3>
            <p>记账不应该成为一种负担。在考察过当前很多手机记账软件后，我们发现其在实际使用中过于复杂，用户坚持记账一小段时间后就很容易放弃。 我们期望莴苣账本能帮助用户养成记账习惯，就要让记账变得简单快速，并且能够不时提供给用户一些激励，鼓励用户多多记账，时时理财。</p>
        </li>
        <li>
            <h3>我有使用或者技术问题，如何联系你们？</h3>
            <p>最好的联系方式是通过我们的<a href="http://weibo.com/woojuu" target="_blank">微博</a>，这样我们能在第一时间解答你的问题。或者你可以发送邮件到<a href="mailto:hello@woojuu.cc">hello[at]woojuu.cc</a>。</p>
        </li>
        <li>
            <h3>现在你们支持iOS的哪些版本？</h3>
            <p>当前莴苣账本支持iOS 5.0及以上版本。我们推荐你在iPhone4/5或者iPod Touch 4/5的Retina屏幕下使用，以保证最好的效果。</p>
        </li>
        <li>
            <h3>什么时候有Android、Windows Phone上的应用？</h3>
            <p>目前我们致力于持续改进iOS上的程序，希望能先把一个平台做到足够好。然后我们会考察拓展到其它平台的计划。</p>
        </li>
    </ul>
</section>
{% endblock %}